body{
    background-color:#ccc;
}

h1,h2,h3,p{
    color:#3f1400;
}

.logo{
    width: 100%;
    max-width: 700px;
    height: auto;

}

h2{
    margin: 10px 0 5px 0;
}

.introduction{
    font-size: 15px;
    letter-spacing: 1px;
    word-spacing: 3px;
}

theTeam{
    margin: 10px 0 0 0 0;
}

h2{
    font-size: 20px;
}

p{
    margin: 0 0 0 0 ;
    padding: 0 0 0 0 ;
}

p , h2 , h3, .introduction{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.teamMember{
    height: 170px;
    display: inline-block;
    align-content: center;
    margin-top: 20px;
    margin-left:20px;
    width: max-content;
    vertical-align: top;
    margin: 5px 0 0 0;
}

.teamMember p{
    font-weight: bold;
}

span img{
    max-width: 80%;
    max-height: 80%;
    text-align: center;
    
}

h3{
    font-size: 17px;
    margin: 0 10px 0 0;
    text-align: left;
}
.description{
    font-size: 13px;
    text-align: left;
    
}

blockquote{
    margin-top: 30px;
    font-size: 22px;
    font-weight:700;
    color:#3f1400;
}

canvas{
    margin-top:30px;
    margin-bottom:30px;
}

/* css for the form */

input[type=text],select,textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color:#3f1400;
}

input[type=submit]{
    background-color: #3f1400;
    color:white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: #6e3d25;
}

.form{
    border-radius: 5px;
    background-color:#895237;
    padding: 20px;
    max-width: 750px;
    height: auto;
    margin-left: 30px;
    color:#3f1400;
}